@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
 
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
 
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
 
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
 
    --radius: 0.75rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-gray-900 antialiased;
    background-color: #F9FAFB !important;
  }
}

.appear {
  animation: appear 300ms ease-in forwards;
}

.pulse {
  animation: pulse 1s infinite;
}

.smartplayer-call-action {
  padding: 1rem 0 !important;
}

.smartplayer-call-action--link {
  animation: pulse 1s infinite;
  padding: 1.5rem 2rem !important;
  font-size: 16px !important;
}

.smartplayer-mobile-container {
  max-width: 100% !important;
}

.custom-element__iframe {
  overflow: hidden !important;
}

.upsell .custom-element__iframe {
  margin: 4rem 0 0 0; /*  UPSELL BLACK */
}

/* ANIMATIONS */

@keyframes appear {
  0%      { opacity: 0%; }
  100%    { opacity: 100%; }
}

@keyframes pulse {
  0%      { transform:scale(.98) }
  50%     { transform:scale(1.02) }
  100%    { transform:scale(.98) }
}

@layer utilities {
  .bg-section-white {
    background-color: #fff !important;
  }
  .bg-section-slate-100 {
    background-color: #f1f5f9 !important;
  }
  .bg-section-slate-800 {
    background-color: #1e293b !important;
  }
  .bg-section-slate-900 {
    background-color: #0f172a !important;
  }
}

/* Centralização da página white */
.casilaup-white {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
}

.casilaup-white > div {
  max-width: 42rem;
  width: 100%;
  text-align: center;
}